.our-chef{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    grid-gap: 1.5rem;
}
.our-chef .item .image img{
    width: 100%;
}
.our-chef .item{
    position: relative;
    z-index: 2;
    /* overflow: hidden; */
}
.our-chef .item::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    display: none;
    top: 0;left: 0;right: 0;bottom: 0;
    background: rgb(0, 0, 0, 0.5);
    z-index: 5;
}
.our-chef .item:hover .item:before{
    display: block;

}
.our-chef .item .chef-info{
    position: absolute;
    top: 130%;
    left: 0;right: 0;bottom: 0;top: 0;
    display: flex;
    justify-content: center;
    z-index: 10;
    text-align: center;
    transition: 1s;
}
.our-chef .item .chef-info h3{
    font-size: 1.7rem;
    color: #fff;
    padding: .8rem 0;
    text-transform: uppercase;
}


/* 362 line tak kara hae  */